language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t vladimirtobias/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true vladimirtobias/docker-react yarn test